* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Gabarito", sans-serif;
}

.navebar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  align-items: center;
  transition: 1ms;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;

}

.navebar__s1__title {
  color: #a435f0;
}

.navebar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 65%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navebar__s2 input {
  border: none;
  font-size: 15px;
  width: 100%;
  background-color: none;
}

.navebar__s2 input:focus {
  outline: none;
}

.navebar__s3 {
  display: flex;
  gap: 10px;
  align-items: center;
}


.navebar__s3 p,
.navebar__s3 i {
  justify-content: space-around;
  cursor: pointer;
}

.navebar__s3 p:hover {
  cursor: pointer;
  color: gray;
  transform: scale(1.1);
}

.navebar__s4 {
  display: none;

}

.My-learning {
  position: relative;
}

.My-learning__popup {
  position: absolute;
  background-color: white;
  border: solid black 1px;
  width: 100px;
  top: 30px;
  right: 0px;
  padding: 10px;
  display: none;

}

.My-learning:hover .My-learning__popup {

  display: block;
}




.categories {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: solid black 1px;
  flex-wrap: wrap;
  gap: 20px;
  transition: 1ms;

}




.categories p {
  border: solid black 1px;
  padding: 8px;
  border-radius: 30px;
  background-color: #a435f0;
  color: white;
  justify-content: space-between;



}

.categories p:hover {
  cursor: pointer;
  background-color: lightskyblue;
  color: black;
  transform: scale(1.05)
}





.sale-image {
  position: relative;
  transition: 1ms;

}

.sale-image img {
  width: 100%;
}


@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.sale-image__s1 {

  position: absolute;
  top: 10%;
  left: 5%;
  background-color: black;
  border: solid white 2px;
  border-radius: 10px;
  color: white;
  padding: 2%;
  width: 35%;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;


}

.sale-image__s1 p {
  margin-top: 5px;
  margin-bottom: 12px;
}



.sale-image__s1 button {
  padding: 3px;
  background-color: #fff;
  color: black;
}

.sale-image__s1 button:hover {
  cursor: pointer;
  background-color: lightskyblue;
  transform: scale(1.05)
}




.recommended {
  padding: 10px;
}


.recommended__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;


}

.course-card {
  flex-grow: 1;
  flex-basis: 20%;
  transition: 1ms;
  margin: 5px;

}

.course-card img {
  width: 100%;
  height: 60%;

}

.course-card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}



.topics {
  padding: 10px;
}

.topics__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  transition: 1ms
}

.topics__container p {
  border: solid black 2px;
  flex-grow: 1;
  flex-basis: 25%;
  padding-left: 10px;
  height: 20px;
}

.topics__container p:hover {
  cursor: pointer;
  background-color: lightskyblue;
  color: black;
  transform: scale(1.025);
}




.most-popular {
  padding: 10px;
}


.most-popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;

}

.popular-course-card {
  flex-grow: 1;
  flex-basis: 20%;
  transition: 1ms;
  margin: 5px;

}

.popular-course-card img {
  width: 100%;
  height: 60%;

}

.popular-course-card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.footer {
  padding: 30px;
  background-color: black;
  color: white;
}


.footer__one {
  display: flex;
  gap: 10px;
  transition: 1ms;
}

.footer__one p {
  padding: 6px;
}

.footer__one p:hover {
  color: gray;
  cursor: pointer;
  transform: scale(1.1);
}



.footer__two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}



@media screen and (max-width:800px) {
  body {
    font-size: 10px;
  }

}

@media screen and (max-width:600px) {

  .course-card,
  .popular-course-card {
    flex-basis: 40%;
  }

  .categories {
    display: none;
  }

  .sale-image__s1 {
 display: none;
  }

  .navebar__s3 {
    display: none;

  }

  .navebar__s4 {
    display: block;
    cursor: pointer;
  }

}
